
.container{
    display: inline-block;
}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    width: 100px;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}


.b{
    list-style-type: square;
    color: blue;
    font-size: 30px;
}
